= "Question #{@question_number} of #{@question_count}."


- if @question.response_type == "text"
  .question-container
    .jumbotron
      .container
        .question-text
          %h3
            = @question.text
        = form_tag "/questions", method: :post do
          - if @question.media
            .col-lg-1
              .col-centered
                .question-media
                  = image_tag  @question.media
                  %br
                  %br
          .row
            .col-lg-1
              .col-centered
                .response-text-area
                  = text_area_tag :text, ""
                  = hidden_field_tag :id, @question.id
            %br
            %br
            .response-buttons
              .col-md-12
                .col-centered
                  - if @question.id != 1
                    = link_to "Previous", "/questions/#{@question.id-1}", class: "btn btn-default", id: 1

                  - if Question.last.id == @question.id
                    = submit_tag "Complete Survey", class: "btn btn-primary btn-med"
                  - else
                    = submit_tag "Next", class: "btn btn-default btn-med"

- elsif @question.response_type == "select"
  .question-container
    .jumbotron
      .container
        .question-text
          %h3
            = @question.text
        = form_tag "/questions", method: :post do
          .row
            - if @question.media
              .col-lg-1
                .col-centered
                  .question-media
                    = image_tag  @question.media
                    %br
                    %br
            - JSON.parse(@question.choices).each do |choice|
              .col-lg-1
                .col-centered
                  = radio_button_tag :response, choice, checked: false
                  = choice
                  = hidden_field_tag :id, @question.id
                  %br
            %br
            %br
            .response-buttons
              .col-md-12
                .col-centered
                  - if @question.id != 1
                    = link_to "Previous", "/questions/#{@question.id-1}", class: "btn btn-default", id: 1

                  - if Question.last.id == @question.id
                    = submit_tag "Complete Survey", class: "btn btn-primary btn-med"
                  - else
                    = submit_tag "Next", class: "btn btn-default btn-med"
