%table.table.table-striped
  %thead
    Assessments
    - @assessments.each do |assessment|
      %tr
        %td
          = link_to assessment.name, action: :show, id: assessment.id, controller: :assessments

    %tr
      %td
        = form_tag assessment_path do
          .form-group
            = label :assessment, :name, 'name'
            = text_field :assessment, :name
          = submit_tag 'Save Changes'
