%table.table.table-striped
  %thead
    Assessments
    - if @assessments.present?
      - @assessments.each do |assessment|
        %tr
          %td
            = link_to assessment.name, assessment_path(id: assessment.id)
    - else
      %tr
        %td
          You do not have any assessments! Please create one below.

    %tr
      %td
        = form_tag assessment_index_path do
          .form-group
            = label :assessment, :name, 'name'
            = text_field :assessment, :name
          = submit_tag 'Save Changes'
