%h1
  = @assessment.name

%table.table.table-striped
  %thead
    %h3
      Questions
    - unless @questions.present?
      %tr
        %td
          = link_to 'Create your first question!', new_assessment_question_path(assessment_id: @assessment.id)
    - else
      - @questions.each do |question|
        %tr
          %td
            = question.text
          %td
            = question.order_id
      %tr
        %td
          = link_to 'Create Another', new_assessment_question_path(assessment_id: @assessment.id)
