<!DOCTYPE html>
<html>
<head>
  <title>Watchandtestme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Mr.Beeken</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">
       <li>
         <% if current_user && (current_user.teacher || current_user.admin) %>
           <span class="sr-only">
             <li>
               <%= link_to "Assessments", assessment_index_path %>
             </li>
           </span>
         <% end %>
       </li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
      <li>
        <% if user_signed_in? %>
          <span class="sr-only">
            <li>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </li>
          </span>
        <% end %>
      </li>
     </ul>
   </div>
 </div>

  <% if flash[:alert] %>
  <div class="header">
    <div class="bg-danger">
      <p class="alert"><%= alert %></p>
    </div>
  </div>
  <% elsif flash[:notice] %>
  <div class="header">
    <div class="bg-info">
      <p class="notice"><%= notice %></p>
    </div>
  </div>
  <% end %>

<div class="content-page">
  <%= yield %>
</div>

</body>
</html>
