<!DOCTYPE html>
<html>
<head>
  <title>Watchandtestme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="nav-header">
          <a class="navbar-brand" href='/'>Music Education Survey</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if user_signed_in? %>
                <span class="sr-only">
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-default btn-sm" %>
                </span>
              <% end %>
            </li>
            <li>
              <% if current_user.teacher? %>
                <%= link_to "Assessments", assessments_path, class: "btn btn-default btn-sm" %>
              <% end %>
            </li>
          </ul>
        </div>
    </div>
  </nav>

  <% if flash[:alert] %>
  <div class="header">
    <div class="bg-danger">
      <p class="alert"><%= alert %></p>
    </div>
  </div>
  <% elsif flash[:notice] %>
  <div class="header">
    <div class="bg-info">
      <p class="notice"><%= notice %></p>
    </div>
  </div>
  <% end %>

<div class="content-page">
  <%= yield %>
</div>

</body>
</html>
